


.logo img {
    height: 313px;
    width: 161px;
    position: relative;
    /* top: 0px; */
    /* right: -20px; */
    left: 407px;

}
.dropbtn{
    font-size: 10px;
}

.navbar ul a{
    font-size: 11px;
    font-weight: bolder;
   
}

.special{
   display: block;
}
.box{
    
    margin: 10px 417px;

}
.intro{
    font-size: 36px;
    position: relative;
    left: 67px;
    width: 907px;
}
#greeting::before{
    position: absolute;
    height: 100%;
    width: 1100px;
}
#content{
    width:1100px
}
#order{
    width: 1095px;
    height:178px;
}
#order h1{
    font-size: 29px;
    width: 1094px;
}
.get_order{
    grid-template-columns: repeat(2,260px);
}
.get_order img{
    width: 181px;
    height: 133px;
}
#award{
    width: 1090px;
}
#contact-us{
    width: 1020px;
}
#footer{
    width: 1092px
}