*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.logo{
    position: relative;
    height:167px;
}
.logo img{
    height: 314px;
    position: relative;
    left: 483px;
    /* top: -26px; */
    bottom: 67px;
}
.container{
    position: relative;
}
.navbar ul{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap: 7px;
    margin: 14px 268px;
    list-style: none;
}
.navbar ul select{
    font-size: 16px;
    font-weight: bolder;
    width: 120px;
   
}
.navbar ul select option{
    text-decoration: underline;
    background-color: blue;
    color: red;
   
}
.navbar ul select:hover{
 color: red;
   
}


.navbar ul a{
    text-decoration: none;
    color: #2b2626;
    font-size: 20px;
   
}
.navbar ul a:hover{
 color: red;
   
}
.navbar ul a:active{
 color:yellow;
 text-decoration: underline;
}
#menu{
    font-size: 16px;
    font-weight: bolder;
    width: 77px;
}

#greeting{
    position: relative;
    top: 51px;
    height: 348px;
}
#greeting::before{
    content: "";
    background: url(restaurant-2697945_1920.jpg)no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -7;
}
.intro{
    position: relative;
    text-align: center;
    color: orangered;
    top: 53px;
    font-weight: bolder;
    font-size: 3rem;
}
#content{
    position: relative;
    top:120px;
}
.special{
    display: grid;
    grid-template-columns: repeat(3,292px);
    justify-content: center;
    justify-items: center;
}
.box{
    border: 1px solid black;
    background-color: #f3e6ec;
    border-radius: 29px;
    height: 372px;
    width: 285px;

}
.box img{
    width: 195px;
    height: 203px;
    border-radius: 35px;
    position: relative;
    left: 38px;

}
.mk{
    text-align: center;
    color: gray;
}
.box p{
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive; 
    color: #bd5252;
    FONT-SIZE: 13px;
}

#order{
    position: relative;
    top: 167px;
}
#order h1{
    font-size: 50px;
    text-align: center;
}
.get_order{
    display: grid;
    grid-template-columns: repeat(2,546px);
    /* position: relative; */
    /* left: 204px; */
    position: relative;
    top: 35px;
    justify-content: center;
}

#award{
    position: relative;
    top: 299px;
}
.reward{
    display: grid;
    grid-template-columns: repeat(2,409px);
    position: relative;
    align-items: center;
    justify-content: center;

}
.reward p{
    font-size: 18px;
    font-weight: bolder;
    color: gray;
    font-family: 'Baloo Bhaina 2', cursive;
    
}
#contact-us{
    position: relative;
    top: 322px;
    /* left: 209px; */
    text-align: center;
}
.contact{
    display: grid;
    grid-template-rows: repeat(2,auto);
}
.contact p{
    font-size: 24px;
    padding: 25px 25px;
    font-family: 'Baloo Bhaina 2', cursive;;
}



#footer{
    position: relative;
    top: 339px;
    /* left: 64px; */
    text-align: center;
    background-color: pink;
    opacity: 0.8;
}
.footer{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.footer a{
    padding: 12px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #105f07;
}
.footer a:hover{
    color: red;
}
.dropbtn{
    /* background-color: brown; */
    color: rgb(20, 18, 18);
    padding: 3px;
    font-size: 16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content1{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a:hover{
    background-color: #ddd;

}
.dropdown-content1 a:hover{
    background-color: #ddd;

}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropdown-content1{
    /* display: block; */
    display: grid;
    grid-template-columns: repeat(2,251px);
}
.dropdown:hover .dropbtn{
    /* background-color: #3e8e41; */
    color: red;
}

.dropdown-content1 img{
        height: 208px;
        width: 248px;
}